{% extends 'base.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<article class="my-3" id="validation">
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Leave Swarm</h3>
    </div>

    <div>
        <div class="bd-example">
            <form class="row g-3 was-validated" method="post" >
                <div class="col-md-4">
                    <label for="validationServerUsername" class="form-label">ID</label>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control is-invalid" name="id" id="validationServerUsername"
                               aria-describedby="inputGroupPrepend3" required>
                    </div>
                </div>
              <div class="col-md-4">
                    <label for="validationServertag" class="form-label">Swarm Tag</label>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control is-invalid" name="swarm_tag" id="validationServertag"
                               aria-describedby="inputGroupPrepend3" required>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" name="submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</article>
    </main>
{% endblock %}
